.specialization {
   padding-top: 0px;
}

.section-title {
   font-weight: 700;
   font-size: 36px;
   line-height: calc(42 / 36);
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
}

.specialization-title {
   margin-bottom: 50px;
}

.specialization-list {
   display: flex;
   justify-content: center;
}

.specialization-list .item:not(:last-child) {
   margin-right: 30px;
}

.specialization-thumb {
   position: relative;
}

.specialization-image {
   display: block;
}

.title-thumb-sp {
   width: 100%;
   height: 70px;
   position: absolute;
   bottom: 0;
   right: 0;
   background: rgba(47, 48, 58, 0.8);
   text-align: center;
}

.specialization-image-title {
   padding: 27px;
   font-weight: 700;
   font-size: 14px;
   line-height: calc(16 / 14);
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--accent-color-text);
}